html, body {
    margin: 0;
    display: flex;
    justify-content: center;
}

body {
    background-image: url(background.png);
    background-size: 100% 100vh;
    background-attachment: fixed;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    font-family: "Lobster";
}

#container {
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 500px;
    border: 2px solid #cccef3;
    border-radius: 10px;
}

h1 {
    margin: 0 auto 10px auto;
    font-size: 2.2em;
    padding: 0;
}

#add_task {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

#add_task__enter {
    background-color: #dde0ff;
    box-sizing: border-box;
    margin-right: 10px;
    padding-left: 10px;
    width: 350px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    color: #330331;
    font-family: "Lobster";
    font-size: 1em;
}

#add_task__btn {
    box-sizing: border-box;
    margin-right: 5px;
    width: 100px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    background-color: #dde0ff;
    font-size: 1em;
    font-family: "Lobster";
}

#add_task__btn:hover {
    border: 2px solid #e063de;
    cursor: pointer;
}

#add_task__btn:active {
    background-color: #e063de;
    opacity: 0.5;
}

h2 {
    font-size: 1.6em;
    margin: 5px 0 5px 0;
    padding: 0;
}

#task_list_unfinished, #task_list_finished {
    list-style-type: none;
    box-sizing: border-box;
    margin: 10px 0 5px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 470px;
    height: 28vh;
    overflow-y: scroll;
}

#task_list_unfinished::-webkit-scrollbar, #task_list_finished::-webkit-scrollbar {
    width: 7px;
    border-radius: 5px;
    background-color: #9399f0;
    opacity: 0.6;
}

#task_list_unfinished::-webkit-scrollbar-thumb, #task_list_finished::-webkit-scrollbar-thumb {
    background-color: #d87dd6;
    border-radius: 5px;
}

.task_list__point {
    margin: 5px 0 5px 0;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    height: auto;
    background-color: #b0b4eb;
    border-radius: 5px;
    color: #330331;
    word-wrap: break-word;
}

.description {
    font-size: 1em;
    width: 300px;
}

.complete_task:hover {
    cursor: pointer;
}

.delete_task {
    width: 60px;
    height: 25px;
    border: 0;
    background-color: #dde0ff;
    border-radius: 5px;
    font-family: "Lobster";
    font-size: 1em;
}

.delete_task:hover {
    border: 2px solid #e063de;
    cursor: pointer;
}

.delete_task:active {
    background-color: #e063de;
    opacity: 0.5;
}

.checked {
    font-style: italic;
    opacity: 0.6;
    background-color: #e063de;
    text-decoration: line-through;
}

@media screen and (max-width: 550px) {

    #container {
        width: 350px;
    }
    
    h1 {
        font-size: 1.5em;
    }
    
    #add_task__enter {
        width: 230px;
        height: 30px;
        font-size: 0.8em;
    }
    
    #add_task__btn {
        width: 70px;
        height: 30px;
        font-size: 0.8em;
    }
    
    h2 {
        font-size: 1.5em;
    }
    
    .task_list__point {
        width: 310px;
    }
    
    .description {
        font-size: 0.8em;
        width: 200px;
    }
    
    .delete_task {
        width: 40px;
        height: 20px;
        font-size: 0.6em;
    }
}